@font-face {
  font-family: "iconfont";
  /* Project id 3963977 */
  src: url('//at.alicdn.com/t/c/font_3963977_4h4fvg790ur.woff2?t=1679368722444') format('woff2'),
    url('//at.alicdn.com/t/c/font_3963977_4h4fvg790ur.woff?t=1679368722444') format('woff'),
    url('//at.alicdn.com/t/c/font_3963977_4h4fvg790ur.ttf?t=1679368722444') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e61b";
}

.icon-shanxing:before {
  content: "\e637";
}

.icon-tx-liubianxing:before {
  content: "\e64f";
}

.icon-tx-tixing:before {
  content: "\e650";
}

.icon-tubiao:before {
  content: "\e636";
}

.icon-yuanxingweixuanzhong:before {
  content: "\e72f";
}

.icon-wenben:before {
  content: "\e649";
}

.icon-wujiaoxing:before {
  content: "\e614";
}

.icon-tuoyuanxing:before {
  content: "\e790";
}

.icon-juxing:before {
  content: "\e620";
}

.icon-huanxingtu:before {
  content: "\e627";
}

.icon-pentagon:before {
  content: "\e600";
}

.icon-tx-pinghangsibianxing:before {
  content: "\e64e";
}

.icon-line:before {
  content: "\e6bb";
}

.icon-xiaoyoujiantou:before {
  content: "\ee29";
}