.el-input {
  --el-input-text-color: #c5cfe3 !important;
  --el-input-border-color: #202835 !important;
  --el-input-bg-color: #202835 !important;
  --el-input-hover-border-color: #202835 !important;
  --el-input-focus-border-color: #202835 !important;
}

.el-color-picker__panel {
  background: #283142 !important;
  border: 1px solid #4c5972 !important;
}